<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-8">
      <h1>Questions</h1>

      <ul>
        <% @questions.each do |question| %>
          <li>
            <%= link_to question.title, question_path(question) %> - 
            <%= question.user.username %>
            <%= link_to "Delete", question_path(question), method: :delete, data: {confirm: "Are you sure?"} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>